@import "tailwindcss";

@layer utilities {
  @keyframes drop {
    0% {
      transform: translateY(-300px);
    }
    80% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .animate-drop {
    animation: drop 0.4s ease-in;
  }
}
